{{page-title "Index"}}
<form {{action "login" @model on="submit"}}>
  <Input type="email" @value={{@model.email}} placeholder="Votre email" />
  <Input type="password" @value={{@model.password}} placeholder="Votre mot de passe" />
  <button type="submit">Se connecter</button>
</form>
{{outlet}}