{{page-title "TestNew"}}
<ul>
  {{#each @model as |contact|}}
    <li>{{contact.nom}}</li>
  {{/each}}
</ul>
<Input @value={{this.name}}/>
<button type="button" {{action "add" this.name}}>Ajouter ...</button>
{{outlet}}